<footer class="footer">
    <div class="footer__div">
        <h2 class="footer__title">På Kino:</h2>
    <div class="footer__all-lists">
        
        <ul class="footer__listA">
        <li>Restaurang</li>
        <li>Bar</li>
        <li>Event</li>
    </ul>
        <ul class="footer__listB">
        <li>Barnvagnsbio</li>
        <li>Pensionärsbio</li>
        <li>Bubbel och chark</li>
    </ul>
    <ul class="footer__listC">
        <li>Klassiker</li>
        <li>Barnbio</li>
        <li>Kiosk</li>
    </ul>
    
    </div>
    </div>
</footer>