<div class="slideshow-container">
  <!-- Tomma slides som JS fyller -->
  <div class="mySlides fade"></div>
  <div class="mySlides fade"></div>
  <div class="mySlides fade"></div>
  <div class="mySlides fade"></div>
  <div class="mySlides fade"></div>

  <!-- Navigeringsknappar -->
  <a class="prev" role="button" aria-label="Previous slide">&#10094;</a>
  <a class="next" role="button" aria-label="Next slide">&#10095;</a>
</div>
