<div id="loginPopup" class="popupWrite">
  <div class="popupWrite-content">
    <span class="closeX" id="closeLogin">&times;</span>

    <div class="review-form-container">
      <h3>Logga in</h3>

      <form id="loginForm">
        <label for="username">Användarnamn</label>
        <input type="text" id="username" required />

        <label for="password">Lösenord</label>
        <input type="password" id="password" required />

        <button type="submit">Logga in</button>
      </form>

      <div id="loginMessage"></div>
    </div>
  </div>
</div>


