@use "./mixins_variables.scss" as *; 
.info-page { 
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    margin: 0 auto 200px;

    


} 

    .info-page img { 
        max-width: 100%; 
    } 
        
    .info-card { 
        display: flex; 
        flex-direction: column; 
        gap: 1rem; 

        
         

        margin: 0 auto;
        align-items: center;
        
        @include desktop { 
            flex-direction: row; 
        } 
        &_img { 
            width: 400px; 
            height: 600px; 
            object-fit: cover; 
            margin: 0; 

            border-radius: 10px;
            
            @include desktop { 
                flex-shrink: 0; 
            } 
        } 
        &_aside { 
            display: flex;
            flex-direction: column;
            align-items: center;

            @include desktop { 
                flex: 1; 
            } 
        } 
        &_text { 
            background-color: $card-color; 
            padding: 2rem; 
            width: 400px; 

            border-radius: 10px;
            @include desktop { 
                height: 426px; 
            } 
            } } 
            
            .reviewBtn { 
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem 2rem; 
                text-align: left; 
                background-color: $card-color; 
                color: $primary-text-color; 
                font-family: $font-body; 
                font-size: 1rem; 
                height: 4.5rem; 
                width: 400px; 
                margin-top: 1rem; 
                border: none; 

                border-radius: 10px;

               
                
             &.arrow {
                margin-right:0;
                border-left-color: inherit;
            border-bottom-color: inherit;
             }

              &:hover { 
                    color: $secondary-text-color;
                    
                 } 
            }