@use "./mixins_variables.scss" as *;

#loginPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


#loginPopup .popupWrite-content {
  background-color: $background-color;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  position: relative;
}


