@use './mixins_variables' as *;

.review-list {
    text-align: center;
    margin: 0 2rem;
    

    &_header {
        font-size: 1.5rem;
        margin: 4rem 0 2rem 0;
    }
}

.review-card {
    margin: 1rem auto;
    height: auto;

    width: auto;
    max-width: 600px;
    background-color: $card-color;
    padding: 2rem;
    border-radius: 10px;
    text-align: left;

    &_rating {
    font-size: 1rem;

    }

    &_quote {
    font-size: 1rem;

    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
  
    }

    &_name {
    font-size: 1rem;
    padding-top: 1rem;

    
    }
}

.review_pagination {
margin: 4rem 0;
}