@use './mixins_variables' as *;




.review-list {
    justify-content: center;
    text-align: center;
    margin: 0 2rem;
    display: grid;
    gap: 1rem; 

  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 600px)
  );

    @include desktop {
           grid-template-columns: repeat(2, 1fr);
        }

}

.review-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-bottom: 2rem;

  @include desktop {
           grid-column: 1 / -1;
        }
  
}

.review-title {
  grid-column: 2;
  justify-self: center;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 4rem 0 0 0;

  @include desktop {
    font-size: 2.5rem;
    margin: 6rem 0 4rem 0;
  }

}

.backBtn {
  justify-self: start;
  background: none;
  border: none;
  margin: 4rem 0 0 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 0;

  //removed back button on desktop
  @include desktop {
   visibility: hidden;
  }
}

.chevron {
  display: inline-block;
  width: 10px;      
  height: 10px;     
  border-left: 2px solid $primary-text-color;
  border-bottom: 2px solid $primary-text-color;
  transform: rotate(45deg);
  margin-left: 0.5rem;
}



.review-card {
    height: auto;
    background-color: $card-color;
    padding: 2rem;
    border-radius: 10px;
    text-align: left;


    &_rating {
    font-size: 1rem;

    }

    &_quote {
    font-size: 1rem;
    
    //remove blockquote styling
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
  
    }

    &_name {
    font-size: 1rem;
    padding-top: 1rem;
    
    }
}

.review_pagination {
margin: 4rem 0 6rem 0;

@include desktop {
           grid-column: 1 / -1;

        }
}