@use './header';
@use './start.scss';
@use './carousel.scss';
@use './movie-poster.scss';
@use './mixins_variables.scss';
@use './button.scss';

//basic reset + setting background color
body,* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: mixins_variables.$background-color;
    font-size: 16px; // Default font size 16px = 1em
    color: white;
    font-family: mixins_variables.$font-body;
}