@use './header';
@use './footer';
@use './start.scss';
@use './mixins_variables.scss';
@use './event_pricelist';
@use './carousel.scss';
@use './movie-poster.scss';
@use './button.scss';
@use './on_kino.scss';