@use './header';
@use './start.scss';
@use 'mixins_variables';

//basic reset + setting background color
body,* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: mixins_variables.$background-color;
    font-size: 16px; // Default font size 16px = 1em
    color: white;
    font-family: mixins_variables.$font-body;
}

.price-section {
  background-color: #0E131B;
  padding: 2rem;
  max-width: 320px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0;
  font-weight: 600;

  margin-right: 3.8rem;
}

.price-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  background: none;
  font-weight: 600;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  background: none;
  font-weight: 600;
}

.price-note {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  color: #9aa0a6;
  background: none;
}

.events-and-price {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  
}

.events {
  margin-right: auto;
}