<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Recensionssida</title>
</head>

<body>
    

<!-- Popupen -->
<div id="reviewPopup" class="popup">
  <div class="popupWrite-content">
    <div id="popupWriteInnerContent">
      <!-- Här laddas recensioner + formulär dynamiskt via JS -->
    </div>
  </div>
</div>

    <script src="/js/reviews.js"></script>
</body>

</html>