<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css" />
  <title>Richards Filmer</title>
</head>

<body>
  <div class="header-container"><%- include('partials/header') %></div>
  
  
  <div class="movies-wrapper">
    <div class="movie__page__movies">
      <% allMovies.forEach(movie=> { %>
        <%- include('partials/poster', { movie: movie, urlPrefix: '/richards-filmer' }) %>
          <% }); %>
    </div>


    <div class="footer__container"><%- include('partials/footer') %></div>
    <script type="module" src="/js/main.js"></script>
</body>

</html>