<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/main.css" />
   <title>Recensioner</title>
</head>
<body>
    
<section class="review-list">
<h1>Recensioner för id: <%= movieId %></h1>

<article class="review-card">
<p>&#11088; 9.8</p>
     <blockquote>This is the best movie I have ever seen</blockquote>
     <h2>Namn Namnsson</h2>

</article>

<p> < 1/2 > </p>
</section>
  <script type="module" src="/js/main.js"></script>
</body>
</html>