<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/main.css" />
   <title> Recensioner</title>
</head>
<body>

<div class="header-container"><%- include('partials/header') %></div>

<section class="review-list">
<h1 class="review-list_header">Recensioner för id: <%= movieId %></h1>

<article class="review-card">
<p class="review-card_rating">&#11088; 9.8/10</p>
     <blockquote class="review-card_quote">"This is the best movie I have ever seen"</blockquote>
     <h2 class="review-card_name">Namn Namnsson</h2>
</article>

<article class="review-card">
<p class="review-card_rating">&#11088; 9.8/10</p>
     <blockquote class="review-card_quote">"This is the best movie I have ever seen"</blockquote>
     <h2 class="review-card_name">Namn Namnsson</h2>
</article>

<article class="review-card">
<p class="review-card_rating">&#11088; 9.8/10</p>
     <blockquote class="review-card_quote">"This is the best movie I have ever seen"</blockquote>
     <h2 class="review-card_name">Namn Namnsson</h2>
</article>

<article class="review-card">
<p class="review-card_rating">&#11088; 9.8/10</p>
     <blockquote class="review-card_quote">"This is the best movie I have ever seen"</blockquote>
     <h2 class="review-card_name">Namn Namnsson</h2>
</article>

<article class="review-card">
<p class="review-card_rating">&#11088; 9.8/10</p>
     <blockquote class="review-card_quote">"This is the best movie I have ever seen"</blockquote>
     <h2 class="review-card_name">Namn Namnsson</h2>
</article>

<div class="review_pagination">
<p> < 1/2 > </p>
</div>
</section>
  <script type="module" src="/js/main.js"></script>

  <div class="footer__container"><%- include('partials/footer') %></div>
  
</body>
</html>